.container{
  width: 100%;
  padding: 0 10px;
}
.content{
  width: 100%;
  margin: 0 auto;
  max-width: $content;
}
.grid{
  padding: 15px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "switch" "form" "chart";
  gap: 20px;
  column-gap: 40px;
}
.fade-enter{
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-active{
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit{
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active{
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active,
.fade-exit-active{
  transition: opacity 500ms, transform 500ms;
}
@media screen and (min-width: $tablet) {
  .container{
    padding: 0 20px;
  }
  .grid{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "switch form" "chart chart";
  }
}
@media screen and (min-width: $laptop) {
  .container{
    padding: 0 30px;
  }
  .grid{
    padding: 25px 0;
  }
}
@media screen and (min-width: $desktop) {
  .container{
    padding: 0 40px;
  }
}

.header{
  background-color: $Bg-Secondary;
  height: 50px;
  box-shadow: 1px 1px 30px .5px rgba(255,255,255,.05);
  .content{
    height: 100%;
    .logo{
      height: 100%;
      display: flex;
      align-items: center;
      img{
        width: 30px;
        margin-right: 10px;
      }
    }
  }
}